
body {
  margin-left: 10%;
  margin-right: 10%;
}

p { font-family: sans-serif }

h1 { color: green }

h2 { font-size: small }

table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}

span.hot { color: red }
